@import '../../../scss/index.scss';
.login{
    padding: 20px;
    &__header{
        color:$white;
        text-align: center;
        border-bottom: 1px solid $white;
        padding: 5px;
        h5{
            font-size: 24px;
        }
    }
    &__body{
        img{
            margin-left: 30%;
            margin-top: 30px;
            width: 150px;
        }
        .form-group{
            .form-control{
                margin-top: 40px;
                padding: 20px;
                background: transparent;
                outline: none;
                box-shadow: none;
                color:$light_grey;
                border: none;
                border-radius: 0;
                border-bottom: 2px solid $light_grey;
            }
        }
        .btn.btn-primary{
            font-size: 25px;
            margin-top: 30px;
            border-radius: 25px;
            height: 50px;
            width: 100%;
            background: $primary;
        }
    }
}
